.product .name {
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}

.product .code {
  display: inline-block;
  font-size: 0.8em;
  margin: 11px 0 16px;
}

.product {
  position: relative;
}

.product .price {
  position: absolute;
  left: -10px;
  top: 30px;
  background: #FAAC58;
  font-size: 12pt;
  color: #1D436A;
  font-weight: bold;
  padding: 5px 10px 5px 5px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.product .name, .product .list-group-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product .thumbnail {
  position: relative;
}

.product .description {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.87;
  text-align: justify;
  background: #FFF;
  padding: 7px;
  display: none;
}

.product .cell {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}

.product .cell p {
  vertical-align: middle;
  display: table-cell;
}

.product .description .title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.product .thumbnail:HOVER .description {
  display: block;
}

.list-group {
  margin: 0;
}

.col-xlg-2 {
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}

@media (min-width: 1600px){
  .col-xlg-2 {
  float: left;
  width: 16.6667%;
  }
}